/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}
a {
	color: #2772B0;
}
.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

div img {
	width: 100%;
	max-width: 225px; 
}

/* grid system -- mobile first! */
/* flex contatiner */

.row {
	display: flex;
	flex-flow: row wrap;
}

/* attribute selector to give some margin between columns and apply styles to flex items */

[class*="col-"] {
	margin-left: 4%;
	flex: 0 0 92%;
}

/* Add background colors to see how much space each column is taking */

.col-1 {
	background-color: #dbd800;
}

.col-2 {
	background-color: #fff39a;
}

.col-3 {
	background-color: #98d8fd;
}

.col-4 {
	background-color: #b3ab6f;
}

.col-5 {
	background-color: #ff7e74;
}

/* Tablet Landscape Screen Sizes */
@media only screen and (min-width: 480px)  and (max-width: 767px){
	
  .col-1,
  .col-2,
  .col-5 {
		flex: 0 0 44%;
	}

  .col-3,
  .col-4{
		flex: 0 0 92%;
	}

  /* both .row:has expressions are to create the specific layouts in the tablet.png example*/
  /* this one can be in any order as long as its col-1 and col-3*/
  .row:has(> .col-1):has(> .col-3) .col-1 {
	flex: 0 0 92%;
  }

  /* this one has to be in the specific col-1, col-2, col-1 order in order to be applied */
  /*order moves col-2 to the left in the current order allowing for display order col-2, col-1, col-1 when in tablet mode like in the tablet.png example*/
  .row:has(> .col-1 + .col-2 + .col-1) .col-2 {
	flex: 0 0 92%;
	order: -1;
  }
  
}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
  
    /* fits 4 in a row */
 	.col-1 {
		flex: 0 0 20%;
	}
  
	/* fits 2 in a row */
	.col-2 {
		flex: 0 0 44%;
	}

	/* fits 1 in a row but can work with col-1*/
	.col-3 {
		flex: 0 0 68%;
	}

	/* fits 1 in a row */
	.col-4 {
		flex: 0 0 92%;
	}

	/*fits 6 in a row */
	.col-5 {
		flex: 0 0 12%;
	}

}